<h1 id="tableLabel">Shift</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!ShiftList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#shiftModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>

<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="ShiftList">
    <thead>
      <tr>
        <th>Shift Id</th>
        <th>Shift</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of ShiftList | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ s.shiftId }}</td>
        <td>{{s.shiftName }}</td>
        <td>{{s.startTime }}</td>
        <td>{{s.endTime }}</td>

        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetShift(s.shiftId)"> <i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(s)"> <i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>

<!-- Modal -->
<div class="modal fade" id="shiftModal" tabindex="-1" role="dialog" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitShift(form)" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">New Shift</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" [(ngModel)]="Shift.shiftId" />

        <div class="form-group">
          <label>Shift </label>
          <select class=" form-control" name="shiftName" #shiftName="ngModel" [ngClass]="{'is-invalid':form.submitted && shiftName.invalid }" [(ngModel)]="Shift.shiftName" required="">

            <option value="undefined">
              Please select Value
            </option>
            <option value="Morning">Morning</option>
            <option value="Evening">Evening</option>
            <option value="Night">Night</option>
          </select>

        </div>
        <div class="form-group">
          <label>Start Time</label>
          <input type="time" class=" form-control" name="startTime" #startTime="ngModel" [ngClass]="{'is-invalid':form.submitted && startTime.invalid }" [(ngModel)]="Shift.startTime" required="" />
        </div>
        <div class="form-group">
          <label>End Time</label>
          <input type="time" class=" form-control" name="endTime" #endTime="ngModel" [ngClass]="{'is-invalid':form.submitted && endTime.invalid }" [(ngModel)]="Shift.endTime" required="" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Shift.shiftId}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteShift(Shift.shiftId)">Yes</button>
      </div>
    </div>
  </div>
</div>
