<h1 id="tableLabel">Department Index</h1>



<p *ngIf="!DepartmentList"><em class="text-info">Loading...</em></p>


<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
   <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#departmentModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>


<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="DepartmentList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Department</th>
        <th>Manager</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of DepartmentList | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ d.deptId }}</td>
        <td>{{ d.departmentName }}</td>
        <td>{{ d.managerName }}</td>

        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetDepartment(d.deptId)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(d)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="p=$event"></pagination-controls>


<!-- Modal -->
<div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content"  #form="ngForm" (ngSubmit)="form.form.valid && SubmitDepartment(form)" autocomplete="off" >
      <div class="modal-header">
        <h5 class="modal-title" id="departmentModalLabel">Department Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="deptId" [(ngModel)]="Department.deptId" />

        <div class="form-group">
          <label>Department</label>
          <input type="text" class=" form-control" name="departmentName" #departmentName="ngModel" [ngClass]="{'is-invalid':form.submitted && departmentName.invalid }" required="" [(ngModel)]="Department.departmentName" />
        </div>

        <div class="form-group">
          <label>Manager </label>
          <select class=" form-control" name="managerId" #managerId="ngModel" [ngClass]="{'is-invalid':form.submitted && managerId.invalid }" required="" [(ngModel)]="Department.managerId">

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let manager of ManagerList" [ngValue]="manager.managerId">
              {{manager.managerName}}
            </option>
          </select>
          <span class="text-danger" *ngIf="Department.managerError">{{Department.managerError }}</span>
        </div>
        <div class="form-group">
          <label>Company </label>
          <select class=" form-control" name="companyId" #companyId="ngModel" [ngClass]="{'is-invalid':form.submitted && companyId.invalid }" required="" [(ngModel)]="Department.companyId">

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let company of CompanyList" [ngValue]="company.companyId">
              {{company.companyName}}
            </option>
          </select>
          <span class="text-danger" *ngIf="Department.managerError">{{Department.managerError }}</span>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="departmentModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Department.departmentName}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteDepartment(Department.deptId)">Yes</button>
      </div>
    </div>
  </div>
</div>
