<h1 id="tableLabel">Remarks Index</h1>



<p *ngIf="!RemarksList"><em class="text-info">Loading...</em></p>


<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#remarksModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>


<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="RemarksList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Employee</th>
        <th>Comments</th>
        <th>Remarks By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of RemarksList | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ r.remarkId }}</td>
        <td>{{ r.fullName }}</td>
        <td>{{ r.comments }}</td>
        <td>{{ r.managerName }}</td>

        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetRemarks(r.remarkId)">  <i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(l)">  <i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="p=$event"></pagination-controls>



<!-- Modal -->
<div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitRemarks(form)" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title" id="remarksModalLabel">Remarks Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="remarkId" [(ngModel)]="Remarks.remarkId" />

        <div class="form-group">
          <label>Comments</label>
          <textarea type="text" class=" form-control" name="comments" #comments="ngModel" [ngClass]="{'is-invalid':form.submitted && comments.invalid }" required="" [(ngModel)]="Remarks.comments" ></textarea>
        </div>

        <div class="form-group">
          <label>Remarks By</label>
          <select class=" form-control" name="managerId" #managerId="ngModel" [ngClass]="{'is-invalid':form.submitted && managerId.invalid }" required="" [(ngModel)]="Remarks.managerId">

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let manager of ManagerList" [ngValue]="manager.managerId">
              {{manager.managerName}}
            </option>
          </select>
          

        </div>

        <div class="form-group">
          <label>Employee Name</label>
          <select class=" form-control" name="employeeId" #employeeId="ngModel" [ngClass]="{'is-invalid':form.submitted && employeeId.invalid }" required="" [(ngModel)]="Remarks.employeeId">

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let employee of EmployeeList" [ngValue]="employee.employeeId">
              {{employee.fullName}}
            </option>
          </select>
          <span class="text-danger" *ngIf="Remarks.employeeError">{{Remarks.employeeError }}</span>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remarksModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{remarks.fullName}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteRemarks(Remarks.remarkId)">Yes</button>
      </div>
    </div>
  </div>
</div>
