<h1 id="tableLabel">Training</h1>



<p *ngIf="!TrainingList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#trainingModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>

<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="TrainingList">
    <thead>
      <tr>
        <th>Training Id</th>
        <th>Trainee</th>
        <th>Department</th>
        <th>Training Title</th>
        <th>Start Date </th>
        <th>End Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of TrainingList | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ t.trainingId }}</td>
        <td>{{ t.fullName }}</td>
        <td>{{ t.departmentName }}</td>
        <td>{{t.trainingTitle }}</td>
        <td>{{t.startDate }}</td>
        <td>{{t.endDate }}</td>


        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetTraining(t.trainingId)"> <i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(t)"> <i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>

<!-- Modal -->
<div class="modal fade" id="trainingModal" tabindex="-1" role="dialog" aria-labelledby="trainingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitTraining(form)" autocomplete="off" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="trainingModalLabel">New Training</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="trainingId" [(ngModel)]="Training.trainingId" />

        <div class="form-group">
          <label>Title</label>
          <input type="text" class=" form-control" name="trainingTitle"
                 #trainingTitle="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  trainingTitle.invalid }" required [(ngModel)]="Training.trainingTitle" />
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input type="date" class=" form-control" name="startDate"
                 #startDate="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  startDate.invalid }" required [(ngModel)]="Training.startDate" />
        </div>
        <div class="form-group">
          <label>End Date</label>
          <input type="date" class=" form-control" name="endDate"
                 #endDate="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  endDate.invalid }" required [(ngModel)]="Training.endDate" />
        </div>
        <div class="form-group">
          <label>Department Name</label>
          <select class=" form-control" name="deptId" #deptId="ngModel" [ngClass]="{'is-invalid':form.submitted && deptId.invalid }" required="" [(ngModel)]="Training.deptId">

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let d of DepartmentList" [ngValue]="d.deptId">
              {{d.departmentName}}
            </option>
          </select>
          <!--<span class="text-danger" *ngIf="Training.employeeError">{{Training.employeeError }}</span>-->

        </div>
        <div class="form-group">
          <label>Employee Name</label>
          <select class=" form-control" name="employeeId" #employeeId="ngModel" [ngClass]="{'is-invalid':form.submitted && employeeId.invalid }" required="" [(ngModel)]="Training.employeeId">

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let employee of EmployeeList" [ngValue]="employee.employeeId">
              {{employee.fullName}}
            </option>
          </select>
          <span class="text-danger" *ngIf="Training.employeeError">{{Training.employeeError }}</span>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Training.trainingTitle}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteTraining(Training.trainingId)">Yes</button>
      </div>
    </div>
  </div>
</div>
