<h1 id="tableLabel">Job</h1>



<p *ngIf="!JobList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="bt btn-primary" (click)="LoadList()">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#jobModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>
<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="JobList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Job Title</th>
        <th> Min Salary</th>
        <th>  Max Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let j of JobList | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ j.jobId }}</td>
        <td>{{j.jobTitle }}</td>
        <td>{{j.minSalary }}</td>
        <td>{{j.maxSalary }}</td>

        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetJob(j.jobId)"> <i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(j)"> <i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>

<!-- Modal -->
<div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="jobModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitJob(form)" autocomplete="off" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="jobModalLabel">New Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="jobId" [(ngModel)]="Job.jobId" />

        <div class="form-group">
          <label>Title</label>
          <input type="text" class=" form-control" name="jobTitle"
                 #jobTitle="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  jobTitle.invalid }" required [(ngModel)]="Job.jobTitle" />
        </div>
        <div class="form-group">
          <label>MinSalary</label>
          <input type="number" class=" form-control" name="minSalary"
                 #minSalary="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  minSalary.invalid }" required [(ngModel)]="Job.minSalary" />
        </div>
        <div class="form-group">
          <label>MaxSalary</label>
          <input type="number" class=" form-control" name="maxSalary"
                 #maxSalary="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  maxSalary.invalid }" required [(ngModel)]="Job.maxSalary" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Job.jobTitle}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteJob(Job.jobId)">Yes</button>
      </div>
    </div>
  </div>
</div>
