<h1 id="tableLabel">Designation</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!DesignationList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
   <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#designationModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="DesignationList">
  <thead>
    <tr>
      <th>Designation Id</th>
      <th>Designation</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of DesignationList">
      <td>{{ d.desigId }}</td>
      <td>{{d.designationName }}</td>

      <td class="btn-group">
        <button class="btn btn-primary" (click)="GetDesignation(d.desigId)"> <i class="fa fa-edit"></i></button>
        <button class="btn btn-danger" (click)="DeleteConfirmation(d)"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="designationModal" tabindex="-1" role="dialog" aria-labelledby="designationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content"  #form="ngForm" (ngSubmit)="form.form.valid && SubmitDesignation(form)" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title" id="designationModalLabel">New Designation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" [(ngModel)]="Designation.desigId" />

        <div class="form-group">
          <label>Designation</label>
          <input type="text" class=" form-control" name="designationName" #designationName="ngModel" [ngClass]="{'is-invalid':form.submitted && designationName.invalid }" [(ngModel)]="Designation.designationName" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary" >Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Designation.designationName}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteDesignation(Designation.desigId)">Yes</button>
      </div>
    </div>
  </div>
</div>
