<h1 id="tableLabel">Payroll Policy</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!PayrollPolicyList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#payrollPolicyModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>

<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="PayrollPolicyList">
    <thead>
    <tr>
      <th>Policy Id</th>
      <th>Policy Category</th>
      <th>Transport Allowance</th>
      <th>House Rent</th>
      <th>Medical Allowance</th>
      <th>Food Allowance</th>
      <th>Festival Bonus</th>
     
      <th>Provident Fund</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of PayrollPolicyList | paginate: {itemsPerPage: 5, currentPage: p}">
      <td>{{p.policyId}}</td>
      <td>{{p.policyType}}</td>
      <td>{{p.tA }}</td>
      <td>{{p.hR }}</td>
      <td>{{p.mA }}</td>
      <td>{{p.fA }}</td>
      <td>{{p.fB }}</td>
     
      <td>{{p.pF }}</td>

      <td class="btn-group">
        <button class="btn btn-primary" (click)="GetPayrollPolicy(p.policyId)"> <i class="fa fa-edit"></i></button>
        <button class="btn btn-danger" (click)="DeleteConfirmation(p)"> <i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>

<!-- Modal -->
<div class="modal fade" id="payrollPolicyModal" tabindex="-1" role="dialog" aria-labelledby="payrollPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content"  #form="ngForm" (ngSubmit)="form.form.valid && SubmitPayrollPolicy(form)" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title" id="payrollPolicyModalLabel">New Payroll Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="policyId" [(ngModel)]="PayrollPolicy.policyId" />

        <div class="form-group">
          <label>Policy Type</label>
          <select class=" form-control" name="policyType" #policyType="ngModel" [ngClass]="{'is-invalid':form.submitted && policyType.invalid }" required="" [(ngModel)]="PayrollPolicy.policyType">
            <option value="undefined">
              Please select Value
            </option>
            <option value="Standard">Standard</option>
            <option value="Mid Level">Mid Level</option>
            <option value="Entry Level">Entry Level</option>
            <option value="Probationary">Probationary</option>
          </select>
        </div>

        <div class="form-group">
          <label>Transport Allowance</label>
          <input type="number" class=" form-control" name="tA" #tA="ngModel" [ngClass]="{'is-invalid':form.submitted && tA.invalid }" required="" [(ngModel)]="PayrollPolicy.tA" />
        </div>
        <div class="form-group">
          <label>House Rent</label>
          <input type="number" class=" form-control" name="hR" #hR="ngModel" [ngClass]="{'is-invalid':form.submitted && hR.invalid }" required="" [(ngModel)]="PayrollPolicy.hR" />
        </div>
        <div class="form-group">
          <label>Medical Allowance</label>
          <input type="number" class=" form-control" name="mA" #mA="ngModel" [ngClass]="{'is-invalid':form.submitted && mA.invalid }" required="" [(ngModel)]="PayrollPolicy.mA" />
        </div>
        <div class="form-group">
          <label>Food Allowance</label>
          <input type="number" class=" form-control" name="fA" #fA="ngModel" [ngClass]="{'is-invalid':form.submitted && fA.invalid }" required="" [(ngModel)]="PayrollPolicy.fA" />
        </div>
        <div class="form-group">
          <label>Festival Bonus</label>
          <input type="number" class=" form-control" name="fB" #fB="ngModel" [ngClass]="{'is-invalid':form.submitted && fB.invalid }" required="" [(ngModel)]="PayrollPolicy.fB" />
        </div>
       

        <div class="form-group">
          <label>Provident Fund</label>
          <input type="number" class=" form-control" name="pF" #pF="ngModel" [ngClass]="{'is-invalid':form.submitted && pF.invalid }" required="" [(ngModel)]="PayrollPolicy.pF" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary" >Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{PayrollPolicy.policyId}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeletePayrollPolicy(PayrollPolicy.policyId)">Yes</button>
      </div>
    </div>
  </div>
</div>
