<h1 id="tableLabel">Manager</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!ManagerList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" data-toggle="modal" data-target="#managerModal" class="btn btn-success">
    <i class="fa fa-plus"></i>
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-primary" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
</div>

<div id="print-section">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="ManagerList">
    <thead>
      <tr>
        <th>Manager Id</th>
        <th>Manager</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of ManagerList  | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ m.managerId }}</td>
        <td>{{m.managerName }}</td>

        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetManager(m.managerId)"> <i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(d)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>

<!-- Modal -->
<div class="modal fade" id="managerModal" tabindex="-1" role="dialog" aria-labelledby="managerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitManager(form)" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title" id="managerModalLabel">New Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="managerId" [(ngModel)]="Manager.managerId" />

        <div class="form-group">
          <label>Manager</label>
          <input type="text" class=" form-control" name="managerName" #managerName="ngModel" [ngClass]="{'is-invalid':form.submitted && managerName.invalid }" [(ngModel)]="Manager.managerName" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Manager.managerName}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteManager(Manager.managerId)">Yes</button>
      </div>
    </div>
  </div>
</div>
